a {
    text-decoration: none;
    color:#9999FF;
    font-weight: bold;
}
a:hover {
	text-decoration: underline;
    font-weight: bolder;
}

img {
	border: none;
}

table {font-family: Verdana, Arial, sans-serif; font-size:12px;}

body{
	background-color: #000000;
	color: #CCCCCC;
}
